@font-face {
    font-family: 'right_chalkregular';
    src: url('fonts/right_chalk-webfont.woff2') format('woff2'),
         url('fonts/right_chalk-webfont.woff') format('woff');
    font-weight: lighter;
    font-style: normal;
}

body {
    margin: 0;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    background-image: url("../images/chalkboard.jpg");
    background-size: cover;
    text-align: center;
    color: rgba(255, 254, 234, 0.913);
    font-family: 'right_chalkregular', serif;
}

.title {
    margin: 0;
}

.hide-timer {
    color: rgba(255, 254, 234, 0);
    font-size: 6vmin;
}

.show-timer {
    color: rgba(255, 254, 234, 0.913);
    font-size: 6vmin;
}

.red-timer {
    color: rgba(255, 217, 223, 0.913);
    font-size: 6vmin;
}

.game {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr;
}

.panel {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

h1 {
    font-size: 8vmin;
    font-weight: normal;
}

#message {
    font-size: 3vmin;
    font-weight: normal;
    margin-bottom: 3vh;
}

#time {
    font-size: 5vmin;
    margin-bottom: 3vh;
}

section.board {
    display: grid;
    grid-template-rows: repeat(3, 18vmin);
    grid-template-columns: repeat(3, 18vmin);
    grid-gap: 0vmin;
}

.square {
    font-size: 13vmin;
    text-align: center;
    vertical-align: middle;
    cursor: pointer;
}

#score {
    display: grid;
    grid-template-rows: 1fr 1fr;
    grid-template-columns: 1fr 1fr 1fr;
    width: 20vw;
    font-size: 3vmin;
}

#X {
    color: rgba(223, 254, 215, 0.913);
    font-size: 4vmin;
    border-bottom: solid 2px rgba(255, 254, 234, 0.913);
    margin-bottom: 1.5vh;
}

#O {
    color: rgba(198, 224, 255, 0.913);
    font-size: 4vmin;
    border-bottom: solid 2px rgba(255, 254, 234, 0.913);
    margin-bottom: 1.5vh;
}

#D {
    color: rgba(255, 217, 223, 0.913);
    font-size: 4vmin;
    border-bottom: solid 2px rgba(255, 254, 234, 0.913);
    margin-bottom: 1.5vh;
}

#sq0 {
    border-right: 5px solid rgba(255, 254, 234, 0.913);
    border-bottom: 5px solid rgba(255, 254, 234, 0.913);
}

#sq1 {
    border-right: 5px solid rgba(255, 254, 234, 0.913);
    border-bottom: 5px solid rgba(255, 254, 234, 0.913);
    border-left: 5px solid rgba(255, 254, 234, 0.913);

}

#sq2 {
    border-left: 5px solid rgba(255, 254, 234, 0.913);
    border-bottom: 5px solid rgba(255, 254, 234, 0.913);
}

#sq3 {
    border-top: 5px solid rgba(255, 254, 234, 0.913);
    border-right: 5px solid rgba(255, 254, 234, 0.913);
    border-bottom: 5px solid rgba(255, 254, 234, 0.913);
}

#sq4 {
    border: 5px solid rgba(255, 254, 234, 0.913);
}

#sq5 {
    border-top: 5px solid rgba(255, 254, 234, 0.913);
    border-left: 5px solid rgba(255, 254, 234, 0.913);
    border-bottom: 5px solid rgba(255, 254, 234, 0.913);
}

#sq6 {
    border-top: 5px solid rgba(255, 254, 234, 0.913);
    border-right: 5px solid rgba(255, 254, 234, 0.913);
}

#sq7 {
    border-right: 5px solid rgba(255, 254, 234, 0.913);
    border-left: 5px solid rgba(255, 254, 234, 0.913);
    border-top: 5px solid rgba(255, 254, 234, 0.913);
}

#sq8 {
    border-top: 5px solid rgba(255, 254, 234, 0.913);
    border-left: 5px solid rgba(255, 254, 234, 0.913);
}

button {
    background-color: rgba(79, 79, 79, 0);
    color: rgba(255, 254, 234, 0.913);
    font-family: 'right_chalkregular', serif;
    font-size: 3vmin;
    font-weight: normal;
    outline: none;
    border: 2px solid rgba(255, 254, 234, 0.913);
    border-radius: 1vmin;
}

button:hover {
    background-color: rgba(255, 254, 234, 0.913);
    color: rgba(79, 79, 79);
    cursor: pointer;
}