@font-face {
    font-family: 'right_chalkregular';
    src: url('fonts/right_chalk-webfont.woff2') format('woff2'),
         url('fonts/right_chalk-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

body {
    height: 100vh;
    display: flex;
    flex-direction: column;
    background-image: url("../images/chalkboard.jpg");
    background-size: cover;
    text-align: center;
    color: rgba(255, 254, 234, 0.913);
    font-family: 'right_chalkregular', serif;
    align-items: center;
}

h1 {
    font-size: 8vmin;
}

section.board {
    display: grid;
    grid-template-rows: repeat(3, 18vmin);
    grid-template-columns: repeat(3, 18vmin);
    grid-gap: 0vmin;
}

div {
    font-size: 13vmin;
    font-weight: bold;
    text-align: center;
    vertical-align: middle;
}

div:hover {
    cursor: pointer;
}

#sq0 {
    border-right: 5px solid rgba(255, 254, 234, 0.913);
    border-bottom: 5px solid rgba(255, 254, 234, 0.913);
}

#sq1 {
    border-right: 5px solid rgba(255, 254, 234, 0.913);
    border-bottom: 5px solid rgba(255, 254, 234, 0.913);
    border-left: 5px solid rgba(255, 254, 234, 0.913);

}

#sq2 {
    border-left: 5px solid rgba(255, 254, 234, 0.913);
    border-bottom: 5px solid rgba(255, 254, 234, 0.913);
}

#sq3 {
    border-top: 5px solid rgba(255, 254, 234, 0.913);
    border-right: 5px solid rgba(255, 254, 234, 0.913);
    border-bottom: 5px solid rgba(255, 254, 234, 0.913);
}

#sq4 {
    border: 5px solid rgba(255, 254, 234, 0.913);
}

#sq5 {
    border-top: 5px solid rgba(255, 254, 234, 0.913);
    border-left: 5px solid rgba(255, 254, 234, 0.913);
    border-bottom: 5px solid rgba(255, 254, 234, 0.913);
}

#sq6 {
    border-top: 5px solid rgba(255, 254, 234, 0.913);
    border-right: 5px solid rgba(255, 254, 234, 0.913);
}

#sq7 {
    border-right: 5px solid rgba(255, 254, 234, 0.913);
    border-left: 5px solid rgba(255, 254, 234, 0.913);
    border-top: 5px solid rgba(255, 254, 234, 0.913);
}

#sq8 {
    border-top: 5px solid rgba(255, 254, 234, 0.913);
    border-left: 5px solid rgba(255, 254, 234, 0.913);
}

button {
    background-color: rgba(79, 79, 79, 0);
    color: rgba(255, 254, 234, 0.913);
    font-family: 'right_chalkregular', serif;
    font-size: 3vmin;
    outline: none;
    border: 2px solid rgba(255, 254, 234, 0.913);
    border-radius: 1vmin;
}

button:hover {
    background-color: rgba(255, 254, 234, 0.913);
    color: rgba(79, 79, 79);
    cursor: pointer;
}